# vimplug stuff
plugged/

# saved sessions
session/

# netrw
.netrwhist

# spell stuff downloaded by neovim
spell/*.spl
spell/en.utf-8.sug

# plug.vim
autoload/plug.vim
autoload/plug.vim.old

# nix
/result
