[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "bundle/css.vim"]
	path = bundle/css.vim
	url = https://github.com/JulesWang/css.vim.git
[submodule "bundle/vim-easy-align"]
	path = bundle/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/vimproc.vim"]
	path = bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "bundle/lightline.vim"]
	path = bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown
[submodule "bundle/vim-startify"]
	path = bundle/vim-startify
	url = https://github.com/mhinz/vim-startify.git
[submodule "bundle/vim-textobj-user"]
	path = bundle/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule "bundle/vim-textobj-parameter"]
	path = bundle/vim-textobj-parameter
	url = https://github.com/sgur/vim-textobj-parameter.git
[submodule "bundle/vim-better-whitespace"]
	path = bundle/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace.git
[submodule "bundle/undotree"]
	path = bundle/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "bundle/unite.vim"]
	path = bundle/unite.vim
	url = https://github.com/shougo/unite.vim
[submodule "bundle/vim-smarttabs"]
	path = bundle/vim-smarttabs
	url = https://github.com/dpc/vim-smarttabs.git
[submodule "bundle/Recover.vim"]
	path = bundle/Recover.vim
	url = https://github.com/chrisbra/Recover.vim.git
[submodule "bundle/accelerated-smooth-scroll"]
	path = bundle/accelerated-smooth-scroll
	url = https://github.com/yonchu/accelerated-smooth-scroll.git
[submodule "bundle/vim-mucomplete"]
	path = bundle/vim-mucomplete
	url = https://github.com/lifepillar/vim-mucomplete.git
[submodule "bundle/asyncrun.vim"]
	path = bundle/asyncrun.vim
	url = https://github.com/skywind3000/asyncrun.vim.git
[submodule "bundle/vim-colors-pencil"]
	path = bundle/vim-colors-pencil
	url = https://github.com/reedes/vim-colors-pencil.git
[submodule "bundle/vimfiler.vim"]
	path = bundle/vimfiler.vim
	url = https://github.com/Shougo/vimfiler.vim.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-cmake"]
	path = bundle/vim-cmake
	url = https://github.com/ralismark/vim-cmake.git
[submodule "bundle/vim-sort-motion"]
	path = bundle/vim-sort-motion
	url = https://github.com/christoomey/vim-sort-motion.git
