snippet "ns|namespace" "ns $1 { ... }" r
namespace ${1/::(\w+)/ { namespace $1/g} {

	$0

${1/\w*(:+|$)/} /g}// namespace $1
endsnippet

snippet "sw|switch" "switch $1 { ... }" r
switch($1) {
$0
default:
	break;
}
endsnippet

snippet "ca|case" "case $1: break" r
case $1:
	$0
	break;
endsnippet
